<app-log-out-header></app-log-out-header>
<div class="row clearMargin">
  <div class=" col-sm-6 clearPadding">
    <div class="addBottomPadding">
      <h2>Events</h2>
    </div>
    <div class="addTopPadding" *ngIf="flagEvent">
      <canvas baseChart [data]="eventPieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="eventChartClicked($event)" data-toggle="modal" data-target="#eventModal">
      </canvas>
    </div>
  </div>
  <div class="col-sm-6 clearPadding">
    <div class="addBottomPadding">
      <h2>Registrants</h2>
    </div>
    <div class="addTopPadding" *ngIf="flagUser">
      <canvas baseChart [data]="usersPieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="regChartClicked($event)" data-toggle="modal" data-target="#registrantModal">
      </canvas>
    </div>
  </div>
</div>
<!-- Modal -->
<div #eventsm *ngIf="modalSuccessFlag && modalFailFlag" class="modal" id="eventModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Events</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <mat-tab-group (selectedTabChange)="onLinkClick($event)" >
          <mat-tab label="Success">

            <div class="filter" style="margin-top:15px">
              <form class=" form-inline ">
                <!-- REFRESH -->
                <div class="form-group addsidePadding">
                  <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
                </div>
                <div class="form-group addsidePadding">
                  <label for="sel1">Show &nbsp;</label>
                  <select name="selection" [(ngModel)]="selectedLimit" class="form-control ">
                    <option id= "opt" *ngFor="let c of limitTo" [value]="c">
                      {{c}}
                    </option>
                  </select>
                </div>
                <!-- SEARCH -->
                <div class="form-group addsidePadding">
                  <label>&nbsp;Search&nbsp;</label>
                  <!-- <input class="form-control srchIn" [(ng-model)]="searchTerm" type="search" placeholder="Search" maxlength="40" /> -->
                  <input class="form-control srchIn"  type="search" placeholder="Search" maxlength="40" />

                </div>
              </form>
              <!-- </div> -->
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">weblinkEventId</th>
                  <th scope="col">on24EventId</th>
                </tr>
              </thead>
              <!-- <tbody *ngFor="let elem of successRawEvents.responseData | slice:0:selectedLimit |eventFilter: searchTerm"> -->
                  <tbody *ngFor="let elem of successRawEvents.responseData | slice:0:selectedLimit">

                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.weblinkEventId}}</td>
                  <td>{{elem.on24EventId}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{successCurrent}} of {{successLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Fail">
            <div class="filter" style="margin-top:15px">
              <form class=" form-inline ">
                <!-- REFRESH -->
                <div class="form-group addsidePadding">
                  <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>

                </div>

                <!-- PAGINATION -->
                <div ng-if="vm.searchFlag" class="form-group addsidePadding">
                  <label for="sel1">Show&nbsp;</label>
                  <select name="selection" [(ngModel)]="selectedLimit" class="form-control ">
                      <option id= "opt" *ngFor="let c of limitTo" [value]="c">
                        {{c}}
                      </option>
                    </select>
                </div>
                <!-- SEARCH -->
                <div class="form-group addsidePadding">
                  <label>&nbsp;Search&nbsp;</label>
                  <input class="form-control srchIn" ng-model="searchContent" type="search" placeholder="Search" maxlength="40" />
                </div>
              </form>
              <!-- </div> -->
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">weblinkEventId</th>
                  <th scope="col">on24EventId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of failRawEvents.responseData | slice : 0:selectedLimit">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.weblinkEventId}}</td>
                  <td>{{elem.on24EventId}}</td>
                </tr>
              </tbody>
            </table>

            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{failCurrent}} of {{failLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalSuccessFlag && modalFailFlag" class="modal" id="registrantModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Registrants</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <mat-tab-group>
          <mat-tab label="Success">

            <div class="filter" style="margin-top:15px">
              <form class=" form-inline ">
                <!-- REFRESH -->
                <div class="form-group addsidePadding">
                  <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>

                </div>

                <!-- PAGINATION -->
                <div ng-if="vm.searchFlag" class="form-group addsidePadding">
                  <label for="sel1">Show&nbsp;</label>
                  <select id="sell" class="form-control sm-select">
                    <option value="limit">Select</option>
                  </select>
                </div>
                <!-- SEARCH -->
                <div class="form-group addsidePadding">
                  <label>&nbsp;Search&nbsp;</label>
                  <input class="form-control srchIn" ng-model="searchContent" type="search" placeholder="Search" maxlength="40" />
                </div>
              </form>
              <!-- </div> -->
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">on24EventUserId</th>
                  <th scope="col">weblinkEventItemId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of successRawEvents.responseData | slice:0:5">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.on24EventUserId}}</td>
                  <td>{{elem.weblinkEventItemId}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{successCurrent}} of {{successLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Fail">

            <div class="filter" style="margin-top:15px">
              <form class=" form-inline ">
                <!-- REFRESH -->
                <div class="form-group addsidePadding">
                  <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>

                </div>

                <!-- PAGINATION -->
                <div ng-if="vm.searchFlag" class="form-group addsidePadding">
                  <label for="sel1">Show&nbsp;</label>
                  <select id="sell" class="form-control sm-select">
                    <option value="limit">Select</option>
                  </select>
                </div>
                <!-- SEARCH -->
                <div class="form-group addsidePadding">
                  <label>&nbsp;Search&nbsp;</label>
                  <input class="form-control srchIn" ng-model="searchContent" type="search" placeholder="Search" maxlength="40" />
                </div>
              </form>
              <!-- </div> -->
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">on24EventUserId</th>
                  <th scope="col">weblinkEventItemId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of failRawEvents.responseData ">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.on24EventUserId}}</td>
                  <td>{{elem.weblinkEventItemId}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{failCurrent}} of {{failLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
