<div class="row clearMargin">
  <div class=" col-sm-6 clearPadding">
    <div class="addBottomPadding">
      <h2>Events</h2>
    </div>
    <div class="addTopPadding" *ngIf="flagEvent">
      <canvas baseChart [data]="eventPieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="eventChartClicked($event)" data-toggle="modal" data-target="#eventModal">
      </canvas>
    </div>
  </div>
  <div class="col-sm-6 clearPadding">
    <div class="addBottomPadding">
      <h2>Registrants</h2>
    </div>
    <div class="addTopPadding" *ngIf="flagUser">
      <canvas baseChart [data]="usersPieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="regChartClicked($event)" data-toggle="modal" data-target="#registrantModal">
      </canvas>
    </div>
  </div>
</div>
<!-- Modal -->
<div *ngIf="modalSuccessFlag && modalFailFlag" class="modal" id="eventModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Successful Events</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <mat-tab-group>
          <mat-tab label="Tab 1">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">weblinkEventId</th>
                  <th scope="col">on24EventId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of successRawEvents.responseData | slice:0:5">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.weblinkEventId}}</td>
                  <td>{{elem.on24EventId}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{successCurrent}} of {{successLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Tab 2">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">weblinkEventId</th>
                  <th scope="col">on24EventId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of failRawEvents.responseData ">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.weblinkEventId}}</td>
                  <td>{{elem.on24EventId}}</td>
                </tr>
              </tbody>
            </table>

            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{failCurrent}} of {{failLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalSuccessFlag && modalFailFlag" class="modal" id="registrantModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Successful Events</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <mat-tab-group>
          <mat-tab label="Tab 1">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">on24EventUserId</th>
                  <th scope="col">weblinkEventItemId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of successRawEvents.responseData | slice:0:5">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.on24EventUserId}}</td>
                  <td>{{elem.weblinkEventItemId}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{successCurrent}} of {{successLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Tab 2">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">on24EventUserId</th>
                  <th scope="col">weblinkEventItemId</th>
                </tr>
              </thead>
              <tbody *ngFor="let elem of failRawEvents.responseData ">
                <tr>
                  <td>{{elem.id}}</td>
                  <td>{{elem.on24EventUserId}}</td>
                  <td>{{elem.weblinkEventItemId}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row centerAllign">
              <ul class="pagination ">
                <li>
                  <button>
                    <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
                <li>
                  <a class="page-link" href="">{{failCurrent}} of {{failLast}}</a>
                </li>
                <li class="page-item">
                  <button>
                    <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
