.clearPadding{
  margin: 0px;
  width: 50%;
}
.clearMargin {
  margin-right: 0px;
  margin-left: 0px;
  height: 600px;
}
.addTopPadding {
  padding-top:40px
}
.addBottomPadding {
  padding-bottom:40px;
  padding-top:20px;

  text-align: center;
}
