<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <!-- <div class="container"> -->

      <div class=" navbar-collapse" id="navbarsExampleDefault">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/dashboard"> Dashboard </a>
          </li>
        </ul> -->
        <ul class="navbar-nav ml-auto shapeTry">
          <li class="nav-item">
            <button class="btn btn-link" (click)="onLogOut()">LogOut</button>
          </li>
        </ul>
      </div>
    <!-- </div> -->
  </nav>
